body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../images/famous_places_background_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  