body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../images/famous_places_background_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px #ff00fa;
  }

  #quiz-img {
    max-width: 100%;
    max-height: 500px;
    /* Temporary box shadow to see placement of img */
    box-shadow: 0 0 10px 2px #ff00fa;
    margin: 10px 0 30px;
    
  }

  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
    margin: 30px 0;
  }

  .btn {
    border: 1px solid white;
    background-color: #ff8500;
    box-shadow: 0 0 6px 2px #a7a6a6;
    border-radius: 5px;
    padding: 15px 10px;
    color: black;
    font-weight: 800;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .footer .next-btn {
    border: 2px solid #a800a5;
    background-color: #ff00fa;
    box-shadow: 0 0 6px 2px #a7a6a6;
    width: 100px;
    border-radius: 5px;
    padding: 15px 10px;
    color: white;
    font-weight: 800;
  }

  .btn:hover {
    box-shadow: 0 0 6px 2px #ff8500;
    background-color: white; 
    color: ff8500;
    font-weight: 800;
  }

  .footer .next-btn:hover {
    border: 2px solid #a800a5;
    background-color: #a800a5;
    box-shadow: 0 0 6px 2px #ff00fa;
    color: white;
  }