/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* Asterisk wildcard selector added to overide default browser styles */
* {
  font-family: 'Nunito', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(../images/famous_places_background_img.jpg);
  backdrop-filter: brightness(0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

/* Start modal window */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.modal-background {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: white;
  box-shadow: 0 0 10px 6px #ff00fa;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  max-width: 60%;
  height: 500px;
}

.modal-container {
  background-image: url(../images/famous-places-background-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  padding: 10px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  max-width: 80%;
  height: 540px;
}

.modal-content, .modal-container {
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content > img {
  width: 200px;
}

/* Game rules modal */
.rules-modal {
  display: flex;
  position: fixed; 
  justify-content: center;
  align-items: center;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-content: center;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

#game-rules-btn {
  border: 2px solid #0154ad;
  background-color: white;
  box-shadow: 0 0 2px 1px #007aff;
  width: 175px;
  border-radius: 5px;
  padding: 6px;
  margin-top: 8px;
  color: #0154ad;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
}

.game-rules {
  background-color: #fefefe;
  margin: 10px;
  padding: 20px;
  border: 1px solid #888;
  text-align: left;
}

.game-rules ul {
  padding-left: 12px;
}

/* Game rules close button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.start-btn {
  border: 2px solid #a800a5;
  background-color: #ff00fa;
  box-shadow: 0 0 6px 2px #a7a6a6;
  width: 100px;
  border-radius: 5px;
  padding: 10px 10px;
  margin-top: 15px;
  color: white;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.start-btn:hover {
  border: 2px solid #a800a5;
  background-color: #a800a5;
  box-shadow: 0 0 6px 2px #ff00fa;
  color: white;
}    
  
.quizContainer {
  font-size: 18px;
  font-weight: bold;
  text-align: center; 
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 6px #ff00fa;
}

#quiz-img img{
  max-width: 100%;
  max-height: 800px;
  margin: 5px 0 20px;
  align-self: center;
}

.imgContainer {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.btn-grid {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 30px 12px;
}

.btn {
  border: 1px solid white;
  background-color: #ff8500;
  box-shadow: 0 0 6px 2px #a7a6a6;
  border-radius: 5px;
  padding: 12px 10px;
  color: black;
  font-size: 16px;
  font-weight: 800;
}

.btnCorrect {
  background-color: #00ff05;
}
  
.btnIncorrect {
  background-color: #f51720;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.footer .next-btn {
  border: 2px solid #a800a5;
  background-color: #ff00fa;
  box-shadow: 0 0 6px 2px #a7a6a6;
  width: 100px;
  border-radius: 5px;
  padding: 12px 10px;
  color: white;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.footer .next-btn:hover, .play-again-btn:hover {
  border: 2px solid #a800a5;
  background-color: #a800a5;
  box-shadow: 0 0 6px 2px #ff00fa;
  color: white;
}

/* Results modal pop up window */
#result-modal .player-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px;
}

.play-again-btn {
  border: 2px solid #a800a5;
  background-color: #ff00fa;
  box-shadow: 0 0 6px 2px #a7a6a6;
  width: 130px;
  border-radius: 5px;
  padding: 12px 10px;
  margin: 10px 10px;
  color: white;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.exit-quiz-btn {
  border: 2px solid #ff8500;
  background-color: white;
  box-shadow: 0 0 6px 2px #ff840093;
  width: 120px;
  border-radius: 5px;
  padding: 10px 8px;
  margin: 10px 0;
  color: black;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

  /* Media query for screens larger than 768px */
@media (min-width: 768px) {
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 15px;
    margin: 30px 40px;
  }

  .footer .next-btn {
    width: 250px;
  }

  .modal-content {
    max-width: 60%;
    height: 445px;
  }

  .modal-container {
    max-width: 70%;
    height: 500px;
  }
}

/* Media query for screens larger than 1440px */
@media (min-width: 1440px) {
  .modal-content {
   max-width: 35%;
  }
    
  .modal-container {
    max-width: 40%;
    }
}
